@use "global" as *;

.parts-title {
	padding: 60px 10px;
	background-color: #efefef;
	text-align: center;
	font-size: 3rem;
	&h1 {
		background-color: #fff;
	}
}
.parts-title2 {
	padding: 40px 10px;
	background-color: #ddd;
	text-align: center;
	font-size: 2.6rem;
}

.note {
	position: relative;
	max-width: 1000px;
	padding: 60px 30px 30px;
	margin: 40px auto;
	border: 1px solid #999;
	&::before {
		position: absolute;
		top: 10px;
		left: 20px;
		content: "memo";
		color: #999;
		font-size: 20px;
	}
}

.module-space {
  margin-top: min(12vw,100px);
  margin-bottom: min(18vw,160px);
}


.sec-top01 {
  padding-bottom: 100px;
  .parts-title {
    margin-bottom: 1em;
  }
  .link-text {
    margin-left: 40px;
  }
  .link-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: min(2vw,24px) 0;
    list-style: none;
    li {
      width: calc(100% / 4 - 10px);
    }
    a {
      display: block;
      padding: min(7vw,42px) min(2vw,24px);
      background-color: #ccc;
      text-decoration: none;
      text-align: center;
      font-weight: 700;
      transition: all .3s;
      &:hover {
        opacity: .8;
      }
    }
  }
}

.faq h2 {
  position: relative;
  background: #da570d;
  color: #fff;
  @include clamp_fontsize(24, 320, 750, 46);
  font-weight: 900;
  line-height: 1.3;
  margin-bottom: 1.5em;
  padding: 4% 0;
  text-align: center;
  &::after {
    content: '';
    position: absolute;
    top: 99%;
    left: 50%;
    margin-left: -18px;
    border: 18px solid transparent;
    border-top: 20px solid #da570d;
  }
}

.youtube-box {
  .youtube {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    iframe {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.faq {
  background: #fff;
  padding-bottom: 10%;
  &__inner {
    padding: 0 3%;
  }
  &__box {
    font-weight: 700;
    + * {padding-top: 1em;}
    .question {
      position: relative;
      align-items: center;
      cursor: pointer;
      display: flex;
      @include clamp_fontsize(22, 320, 750, 34);
      line-height: 1.3;
      padding-bottom: .5em;
      padding-right: 2.5em;
      &::before {
        position: absolute;
        content: "";
        top: 24%;
        // right: clamp(0.625rem, -0.096rem + 3.08vw, 1.25rem);
        right: 2%;
        // width: clamp(1.25rem, -0.192rem + 6.15vw, 2.5rem);
        width: clampVw(24, 36, 40, 750);
        height: 2px;
        transform: rotate(90deg);
        background: #2e3840;
        transition: all .3s ease-in-out;
      }
      &::after {
        content: "";
        position: absolute;
        top: 24%;
        right: 2%;
        width: clampVw(24, 36, 40, 750);
        height: 2px;
        background: #2e3840;
        transition: all .1s ease-in-out;
      }
      p:nth-of-type(1) {
        align-items: center;
        background: #da570d;
        border-radius: 6px;
        color: #fff;
        display: flex;
        font-size: 26px;
        font-weight: 700;
        height: 36px;
        justify-content: center;
        margin-right: .5em;
        width: 36px;
      }
      p:nth-of-type(2) {
        width: 90%;
      }
      &.open {
        &::before {
          background: #2e3840;
          transform: rotate(180deg);
        }
        &::after {
          opacity: 0;
        }
      }
    }
    .answer {
      background: #eaeaea;
      @include clamp_fontsize(18, 320, 750, 30);
      margin-bottom: .5em;
      padding: 1em;
      border-radius: clampVw(10, 18, 20, 750);
    }
  }
}



.more {
	a {
		position: relative;
		display: inline-block;
		padding: 7px 18px;
		background-color: var(--c-btn-bg);
		border: 1px solid var(--c-btn-text);
		text-decoration: none;
		border-radius: 5px;
		color: var(--c-btn-text);
		font-size: 1.4rem;
		font-weight: 500;
		line-height: 1;
		letter-spacing: 2px;
		transition: 0.2s ease-in-out;
		&:hover {
			background: var(--c-btn-text);
			color: var(--c-btn-bg);
		}
	}
	&.inverse {
		a {
			color: var(--c-btn-bg);
			background: var(--c-btn-text);
			&:hover {
				background: var(--c-btn-bg);
				border: 1px solid #fff;;
				color: var(--c-btn-text);
			}
		}
	}
}

// 表記ゆれ
.notation-box {
	display: flex;
	gap: 2em;
	& + * {margin-top: 5vw;}
	h2 {font-size: 1.8rem;margin-bottom: 0.5em;}
	&__inner {
	}
	table {
		th,td {
			font-weight: normal;
			letter-spacing: 0.1em;
			font-size: 1.4rem;
			&:nth-of-type(1) {
				width: 36%;
			}
		}
		&.type01 {
			th,td {
				&:nth-of-type(1) {
					width: 25%;
				}
			}
		}
		thead {
			background-color: var(--c-primary);
			color: #fff;
			tr {
				th,td {
					padding: 8px 10px;
					border: 1px solid #ccc;
				}
			}
		}
		tbody {
			tr {
				th,td {
					padding: 8px 10px;
					border: 1px solid #ccc;
					&:nth-of-type(1) {
						background-color: rgba(var(--c-primary-rgb),0.2);
					}
				}
			}
		}
	}
}


.sec_top_card {
	padding: 100px 0;
	.card_contents {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		.card_block {
			padding: 10px;
			margin: 0 30px 30px 0;
			background-color: #dfdfdf;
			border-radius: 4px;
			width: calc(100% / 3 - 30px * 2 / 3);
			&:nth-child(3n+3) {
				margin-right: 0;
			}
			h3 {
				margin: 20px 0;
				font-weight: bold;
			}
		}
	}
	@media only screen and (max-width: $md) {
		padding: 50px 0;
		.card_contents {
			flex-direction: column;
			padding-left: 15px;
			padding-right: 15px;
			.card_block {
				width: 100%;
			}
		}
	}
}
