
<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone=no">
	<title>モジュールリスト</title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel="stylesheet" href="assets/css/common.css" type="text/css" />
	<link rel="stylesheet" href="assets/css/style.css" type="text/css" />
</head>
<body>
	<header class="header">
		<div class="header__inner">
			<h1><a href="./index.html">モジュールリスト</a></h1>
		</div>
		<div class="header__nav">
			<ul>
				<li><a href="./mk-title.html">タイトル</a></li>
				<li><a href="./mk-module.html">モジュール</a></li>
				<li><a href="./mk-slider.html">スライダー</a></li>
				<li><a href="./mk-btn.html">ボタン</a></li>
				<li><a href="./mk-other.html">その他</a></li>
			</ul>
		</div>
	</header>
	<main>