// mk-mv001
// ===================================================================
.mk-mv001 {
	display: flex;
	position: relative;
	margin: 0 auto 100px;
	&__inner {
		position: relative;
		img {
			width: 100%;
		}
	}
	.mk-copy {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: flex-start;
		position: absolute;
		top: 0;
		left: min(6vw, 100px);
		z-index: 2;
		bottom: 0;
		margin: auto;
		margin-right: min(7vw, 100px);
		color: #000;
		@include clamp_fontsize(16, 320, 1190, 60);
		font-weight: 700;
	}
	// ナビゲーションボタンのサイズと色
	.swiper-button-next:after,
	.swiper-button-prev:after {
		color: #fff;
		font-size: min(7vw,40px);
	}
	// ページネーションのサイズと色
	.swiper-pagination-bullet {
    width: min(3.5vw, 16px);
    height: min(3.5vw, 16px);
    background: #fff;
		opacity: 1;
		cursor: pointer;
		&-active {
			background-color: var(--c-primary);
		}
	}
	.swiper-slide {
		.mk-copy {
			.passingBar {
				margin-bottom: 10px;
				line-height: 1;
			}
			.passingBarIn {
				padding:7px 10px 9px;
			}
			.passingBar,
			.passingBarIn {
				opacity: 0;
				transform: translate3d(0, 0, 0);//普段CPUで処理しているものをGPUを使って処理し滑らかになるそう
			}
		}
	}
	.swiper-slide-active {
		.mk-copy {
			.passingBar {
				opacity: 1;
				position: relative;
				display: inline-block;
				transform: translate3d(0, 0, 0);//普段CPUで処理しているものをGPUを使って処理し滑らかになるそう
				&::before {
					content: '';
					display: inline-block;
					width: 0;
					height: 100%;
					position: absolute;
					left: 0;
					top: 0;
					z-index: 1;
					animation: passingBar 1s ease 0s 1 normal forwards;
					/* 任意の値 */
					background: var(--c-primary);
				}
				.passingBarIn {display: inline-block; background:#fff; animation:passingBarIn 0s ease .5s 1 normal forwards;}
				&.delay1 {
					&::before {animation: passingBar 1s ease .2s 1 normal forwards;}
					.passingBarIn {animation:passingBarIn 0s ease .7s 1 normal forwards;}
				}
				&.delay2 {
					&::before {animation: passingBar 1s ease .4s 1 normal forwards;}
					.passingBarIn {animation:passingBarIn 0s ease .9s 1 normal forwards;}
				}
				&.delay3 {
					&::before {animation: passingBar 1s ease .6s 1 normal forwards;}
					.passingBarIn {animation:passingBarIn 0s ease 1.2s 1 normal forwards;}
				}
			}
		}
	}
	.swiper-slide-active,
	.swiper-slide-duplicate-active,
	.swiper-slide-prev {
		overflow: hidden;
		img {
			animation: zoomUp 8s linear 0s normal both;
		}
	}
	.swiper-slide img {
		height: auto;
		width: 100%;
	}
	@keyframes zoomUp {0% {transform: scale(1);} 100% {transform: scale(1.07);}}	
	// @keyframes zoomUp {0% {transform: scale(1.1);} 100% {transform: scale(1);}}
	// passingBar
	@keyframes passingBar {
		0% { left: 0; width: 0; }
		50% { left: 0; width: 100%; }
		51% { left: 0; width: 100%; }
		100% { left: 100%; width: 0; }
	}
	@keyframes passingBarIn {
		0% { opacity:0; }
		50% { opacity:0; }
		100% { opacity:1; }
	}
}


// mk-mv002
// ===================================================================
.mk-mv002 {
	padding: 0 min(4vw,100px);
	&__inner {
		overflow: hidden;
		max-width: 1600px;
		max-height: 700px;
		margin: auto;
		border-radius: min(2vw,20px);
		box-shadow: 0 0 10px rgba(var(--c-primary),.3);
		img {
			width: 100%;
			// object-fit: cover;
			// object-position: center center;
		}
	}
	.swiper-slide {
		max-height: 700px;
		.swiper-catch {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: #5a2d29;
				background: linear-gradient(rgba(#fff,0),rgba(#fff,0.8));
			}
		}
		.swiper-catch-text {
			position: relative;
			z-index: 1;
			padding: min(6vw,50px);
			@include clamp_fontsize(20, 320, 992, 40);
			opacity: 0;
		}
		&.swiper-slide-active {
			.swiper-catch-text {
				line-height: 1.4;
				opacity: 1;
				.char {
					display: inline-block;
					opacity: 0;
					@for $i from 1 through 30 {
						&:nth-child(#{$i}) {
							animation: text 1s cubic-bezier(0.3, 0.72, 0.56, 0.99) #{$i * 0.05}s forwards;
						}
					}
				}
			}
		}
	}
}

@keyframes text {
  0% {
    opacity: 0;
    transform: translateX(-20px) translateY(-10px) scale(1.3);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.swiper-slide-active,
.swiper-slide-duplicate-active,
.swiper-slide-prev {
	.swiper-img {
		// animation: zoomUp 14s linear 0s normal both;
	}
}
@keyframes zoomUp {
  0% {transform: scale(1.1);}
  100% {transform: scale(1);}
}

// mk-mv002
// ===================================================================


.mk-slide01 {
	&__inner {
		max-width: 1200px;
		margin: 0 auto;
    padding: 0 10rem;
		box-sizing: content-box;
	}
  .swiper {
    overflow: visible;
  }
  .swiper-slide {
    width: 36rem;
  }
}


// ===================================================================
// メインビジュアル
// ===================================================================
// .mv {
// 	padding: 0 min(4vw,100px);
// 	&__inner {
// 		overflow: hidden;
// 		max-width: 1600px;
// 		max-height: 700px;
// 		margin: auto;
// 		border-radius: min(2vw,20px);
// 		box-shadow: 0 0 10px rgba(var(--c-primary),.3);
// 		img {
// 			width: 100%;
// 			// object-fit: cover;
// 			// object-position: center center;
// 		}
// 	}
// 	.swiper-slide {
// 		max-height: 700px;
// 		.swiper-catch {
// 			position: absolute;
// 			left: 0;
// 			bottom: 0;
// 			width: 100%;
// 			&::after {
// 				content: "";
// 				position: absolute;
// 				top: 0;
// 				left: 0;
// 				width: 100%;
// 				height: 100%;
// 				background: #5a2d29;
// 				background: linear-gradient(rgba(#fff,0),rgba(#fff,0.8));
// 			}
// 		}
// 		.swiper-catch-text {
// 			position: relative;
// 			z-index: 1;
// 			padding: min(6vw,50px);
// 			@include clamp_fontsize(20, 320, 992, 40);
// 			opacity: 0;
// 		}
// 		&.swiper-slide-active {
// 			.swiper-catch-text {
// 				line-height: 1.4;
// 				opacity: 1;
// 				.char {
// 					display: inline-block;
// 					opacity: 0;
// 					@for $i from 1 through 30 {
// 						&:nth-child(#{$i}) {
// 							animation: text 1s cubic-bezier(0.3, 0.72, 0.56, 0.99) #{$i * 0.05}s forwards;
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// }

// @keyframes text {
//   0% {
//     opacity: 0;
//     transform: translateX(-20px) translateY(-10px) scale(1.3);
//   }
//   100% {
//     opacity: 1;
//     transform: none;
//   }
// }

// .swiper-slide-active,
// .swiper-slide-duplicate-active,
// .swiper-slide-prev {
// 	.swiper-img {
// 	}
// }
// @keyframes zoomUp {
//   0% {transform: scale(1.1);}
//   100% {transform: scale(1);}
// }

