
.timeline {
	width: 96%;
	max-width: 940px;
	padding: min(10vw,80px) 15px;
	margin: 0 auto;
	box-sizing: content-box;
	&__list {}
	&__list-item {
		display: flex;
		flex-direction: column;
		position: relative;
		line-height: 1.5;
		font-size: 16px;
		&:last-child {
			.content {
				padding-bottom: 10px;
			}
		}
	}
	.date {
		width: 100%;
		padding: 0 0 10px 30px;
		border-left: 1px solid #aaaaaa;
		font-weight: bold;
	}
	.content {
		position: static;
		width: 100%;
		padding: 0 20px 30px 30px;
		border-left: 1px solid #aaaaaa;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: -10px;
			width: 20px;
			height: 20px;
			background-color: var(--c-primary);
			border-radius: 10px;
		}
	}
	@media (min-width: $md) {
		&__list-item {
			flex-direction: row;
		}
		.date {
			width: 12%;
			padding: 0 0;
			border-left: none;
		}
		.content {
			position: relative;
			width: 88%;
			padding: 0 20px 60px 4%;
		}
	}
}

.block01 {
  .mk-content01__box01{
    width: 100vw;
   	margin: 0 calc(50% - 50vw);
  }
}
.block02 {
  .mk-content01__box01{
    width: 100vw;
    margin-left: calc(50% - 50vw);
  }
}
.block03 {
  .mk-content01__box01{
    width: 100vw;
    margin-right: calc(50% - 50vw);
  }
}

.mk-content01 {
	max-width: var(--w-base);
	padding: 0 15px;
  margin: 50px auto;
  border: 2px solid #ccc;
	box-sizing: content-box;
  &__sec {
		margin: 30px 0;
  }
	&__box01 {
		position:relative;
		z-index:-1;
		background: var(--c-primary);;
		color:#fff;
		padding: 80px 0;
		text-align:center;
		font-size: clamp(18px,2.6vw,26px);
	}
	&__text-box {
		padding: 20px;
		text-align:center;
		// background-color: var(--c-secondary);
		p {
			text-align: left;
		}
	}
  .block02,.block03{
    display:flex;
    justify-content: space-between;
    align-items: center;
    .mk-content01__text-box {
      min-width:40%;
      font-size:clamp(12px,1.6vw,16px);
    }
  }
  .block03{
    flex-direction: row-reverse;
  }
}



.mk-address-table01 {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1.5vw;
	dt,dd {
	}
	dt {
		width: 70px;
	}
	dd {
		width: calc(100% - 70px);
	}
	@media (min-width: $md) {
		dt {
			width: 100px;
		}
		dd {
			width: calc(100% - 100px);
		}
	}
}
