.mk-btn01,
.mk-btn02,
.mk-btn03,
.mk-btn04,
.mk-btn05,
.mk-btn06,
.mk-btn07,
.mk-btn08,
.mk-btn09 {
	margin-bottom: min(10vw,80px);
}

.btn-box {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	> * {
		width: calc(100% / 2);
	}
	@media (min-width: $md) {
		> * {
			width: calc(100% / 3);
		}
	}
}


.mk-btn01 {
	text-align: center;
	a {
		display:inline-block;
		overflow: hidden;
		position: relative;
		padding: 10px min(6vw,100px);
		text-align:center;
		box-sizing:border-box;
		background: #43A047;
		background: linear-gradient(to bottom, #66BB6A, #43A047);
		border-color: #81C784;
		border-width: 1px;
		border-radius: 5px;
		color: #fff;
		font-weight: bold;
		text-decoration:none;
		box-shadow: 0 3px 0 #388e3c;
		&::after {
			content:'';
			height:100%;
			width:30px;
			position:absolute;
			top:-180px;
			left:0;
			background-color: #fff;
			opacity:0;
			transform: rotate(45deg);
			animation: reflection 5s ease-in-out infinite;
		}
		.fa {margin-left:10px;}
		&:hover {
			opacity:0.8;
		}
	}
	@keyframes reflection {
		0% { transform: scale(0) rotate(45deg); opacity: 0; }
		80% { transform: scale(0) rotate(45deg); opacity: 0.5; }
		81% { transform: scale(4) rotate(45deg); opacity: 1; }
		100% { transform: scale(50) rotate(45deg); opacity: 0; }
	}
}

.mk-btn02 {
	a {
		display: inline-block;
		position: relative;
		z-index: 1;
		padding: 10px 50px 10px 15px;
		border: 2px solid var(--c-primary);
		border-left: 20px solid var(--c-primary);
		color: var(--c-primary);
		font-size: 18px;
		font-weight: 600;
		background: transparent;
		text-decoration: none;
		transition: .3s cubic-bezier(0.77,0,0.18,1);
		&::before,
		&::after {
			content: "";
			position: absolute;
			transition: .3s cubic-bezier(0.77,0,0.18,1);
		}
		&::before {
			display: block;
			top: 0;
			left: 0;
			z-index: -1;
			width: 0;
			height: 100%;
			background-color: var(--c-primary);
		}
		&::after{
			top: 0;
			bottom: 0;
			right: 8px;
			box-sizing: border-box;
			width: 4px;
			height: 4px;
			margin: auto;
			border: 5px solid transparent;
			border-left: 9px solid var(--c-primary);
		}
		&:hover {
			color: #fff;
			&::before {
				width: 100%;
			}
			&::after{
				border-left: 9px solid #fff;
			}
		}
	}
}

.mk-btn03 {
	a {
		position:relative;
		display: inline-block;
		padding: 1.3em min(8vw,260px);
		border-radius: 100px;
		color: #fff;
		font-size: 14px;
		font-weight: 700;
		line-height: 1.42;
		text-decoration: none;
		letter-spacing: 0.05em;
		border: 4px solid #ddd;
    background: linear-gradient(270deg, #FFA640 0%, #FF6161 25%, #FF6161 51%, #FFA640 100%);
    background-position: 1% 50%;
    background-size: 200% auto;
    /*アニメーションの指定*/
    transition: all 0.3s ease-out;
		&::before{
			position: absolute;
			top: 0;
			bottom: 0;
			right: 15px;
			margin: auto;
			content: "";
			vertical-align: middle;
			width: 10px;
			height: 10px;
			border-top: 2px solid #fff;
			border-right: 2px solid #fff;
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
		}
		&:hover {
			background-position: 99% 50%;
		}
		@media (min-width: $sm) {
			// padding: 1.3em min(14vw,260px);
			padding: 1.3em;
			font-size: 22px;
			// @include clamp_fontsize(16, 576, 992, 22);
			&::before {
				right: 30px;
			}
		}
	}
}

.mk-btn04 {
	a {
		display: inline-flex;
		align-items: center;
		position: relative;
		line-height: 1.5;
		text-decoration: none;
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto;
			vertical-align: middle;
			transition-delay: .5s;
		}
		&::before {
			left: 25px;
			width: 9px;
			height: 2px;
			background: #ebd5cd;
		}
		&::after {
			left: 29px;
			width: 8px;
			height: 8px;
			border-top: 1px solid #ebd5cd;
			border-right: 1px solid #ebd5cd;
			rotate: 45deg;
		}
		> svg {
			position: relative;
			transform: rotate(-90deg);
			> circle {
				fill: transparent;
				stroke-width: 1;
				stroke-dasharray: 200;
				&:first-child {
					stroke: #ebd5cd;
					stroke-dashoffset: 0;
				}
				&:last-child {
					stroke: var(--c-primary);
					stroke-dashoffset: 200;
					transition: stroke-dashoffset 1.2s cubic-bezier(0.165, 0.84, 0.44, 1);
				}
			}
		}
		> span {
			display: inline-flex;
			align-items: center;
			margin-left: 16px;
			padding: 0 6px 0 0;
			font-size: 14px;
			font-weight: 700;
			letter-spacing: 1px;
			will-change: padding;
			transition: padding 1s cubic-bezier(0.215, 0.61, 0.355, 1);
		}
		> span > img {margin-left: 8px;}
		&:hover {
			&::before,
			&::after {
				animation:moveX forwards 1.2s cubic-bezier(.645,.045,.355,1)
			}
			&::before {
				background: var(--c-primary);
			}
			&::after {
				border-top: 1px solid var(--c-primary);
				border-right: 1px solid var(--c-primary);
			}
			> svg > circle {stroke-dashoffset: 0!important}
			> span {padding: 0 0 0 6px}
		}
	}
}

@keyframes moveX {
	0%{translate: 0% 0;opacity:1}
	25%{translate: 100% 0;opacity:0}
	35%{translate: -100% 0;opacity:0}
	60%{translate: 0% 0;opacity:1}
	100%{translate: 0% 0;}
}


.mk-btn05 {
	a {
		display: inline-block;
		position: relative;
		z-index: 1;
		padding: 18px 60px;
		background: linear-gradient(to right, #2B73BA 0%, #5EB14E 100%);
		border-radius: 2em;
		color: #fff;
		font-size: 16px;
		font-weight: bold;
		text-decoration: none;
		&::before {
			content: "";
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: calc(100% - 6px);
			height: calc(100% - 6px);
			margin: auto;
			border-radius: 2em;
			background: #fff;
			// transition: transform ease .3s, opacity .3s;
			transition: all .4s ease;
			transform: scale(0);
			opacity: 0;
		}
		&:hover {
			color: #2B73BA;
			&::before {
				transform: scale(1);
				opacity: 1;
			}
		}
	}
}

.mk-btn06 {
	a {
		display: inline-block;
		background: #fff;
		padding: 18px 30px;
		border: 3px solid #333;
		border-radius: 6px;
		box-shadow: 0 5px 0 #333;
		color: #333;
		font-size: 16px;
		font-weight: bold;
		text-decoration: none;
		transition: .3s;
		&:hover {
			box-shadow: 0 0 0 #333;
			transform: translateY(5px);
		}
	}
}


.mk-btn07 {
	a {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		max-width:  120px;/* 円のサイズ（高さにもなる） */
		padding: 16px;
		margin: auto;
		background: #666;
		border: 1px solid #fff;
		border-radius: 100%;
		color: #fff;
		font-size: 1.8rem;
		line-height: 1.4;
		text-decoration: none;
		box-shadow: 0px 0px 0 10px #666;
		transition: all .3s;
		&::before {
			display: block;
			content: '';
			padding-top: 100%;
		}
		&::after {
			display: inline-block;
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			right: 20px;
			width: 6px;
			height: 6px;
			margin: auto;
			border-top: 1px solid #fff;
			border-right: 1px solid #fff;
			transform: rotate(45deg);
		}
		&:hover {
			background: var(--c-primary);
			box-shadow: 0px 0px 0 10px var(--c-primary);
		}
	}
	@media (min-width: 768px + 1px) {
		a {
			max-width: 180px;
			font-size: 2rem;
			&::after {
				right: 30px;
			}
		}
	}
}


.mk-btn08 {
	margin: 20px 0;
	a {
		display: inline-block;
		position: relative;
		z-index: 1;
		padding: 8px 40px 10px;
		background: linear-gradient(to right, #183a9c 0%, #020294 100%);
		color: #fff;
		font-size: 16px;
		text-decoration: none;
		transition: all 0.5s 0.2s ease;
		&::before {
			content: "";
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: calc(100% - 6px);
			height: calc(100% - 7px);//微調整が必要
			margin: auto;
			background: #fff;
			transition: transform .6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
			transform: scale(0, 1);
			transform-origin: right top;
		}
		&::after {
			content: "";
			display: block;
			position: absolute;
			top: 50%;
			right: 10%;
			margin: auto;
			width: 8px;
			height: 8px;
			border-top: 2px solid #fff;
			border-right: 2px solid #fff;
			transform: translate(0, -50%) rotate(45deg);
			transition: all 0.5s 0.2s ease;
		}
		&:hover {
			color: #2B73BA;
			&::before {
				transform-origin: left top;
				transform:scale(1, 1);
			}
		}
		&:hover::after {
			right: 8%;
			border-top: 2px solid #020294;
			border-right: 2px solid #020294;
		}
	}
}

.mk-btn09 {
	a {
		position: relative;
		padding: 0 2px 4px 0;
		color: var(--c-text);
		font-family: var(--ff-serif);
		font-size: 18px;
		transition: .3s;
		letter-spacing: 0.05em;
		text-decoration: none;
		&::before,
		&::after {
			position: absolute;
			bottom: 0;
			left: 0;
			display: block;
			content: "";
			width: 100%;
			height: 1px;
			background: var(--c-text);
			transition: .3s;
		}
		&::after {
			transform: scaleX(0);
			transform-origin: left top;
			transition: transform 0.3s;
			background: var(--c-text);
		}
		span {
			position: relative;
			padding: 0 16px 0 0;
			&::before,
			&::after {
				content: "";
				position: absolute;
				top: 0;
				bottom: -3px;
				right: 0;
				margin: auto;
				vertical-align: middle;
				transition: .3s;
			}
			&::before {
				right: 0;
				width: 8px;
				height: 1px;
				background: var(--c-text);
			}
			&::after {
				right: 0px;
				width: 4px;
				height: 4px;
				border-top: 1px solid var(--c-text);
				border-right: 1px solid var(--c-text);
				transform: rotate(45deg);
			}
		}
		&:hover {
			color: var(--c-hover);
			&::after {
				background: var(--c-hover);
				transform: scaleX(1);
				transform-origin: left top;
			}
			span {
				&::before {
					background: var(--c-hover);
				}
				&::after {
					border-top: 1px solid var(--c-hover);
					border-right: 1px solid var(--c-hover);
				}
			}
		}
	}
}

.mk-btn10 {
	a {
		position: relative;
		padding: 0 2px 4px 0;
		color: var(--c-text);
		font-family: var(--ff-serif);
		font-size: 16px;
		transition: .3s;
		letter-spacing: 0.05em;
		text-decoration: none;
		&::before,
		&::after {
			content: "";
			position: absolute;
			display: block;
			transition: .3s;
		}
		&::before {
			bottom: 0;
			left: 0;
			width: 100%;
			height: 1px;
			transform: scaleX(1);
			transform-origin: right top;
			transition: transform 0.3s;
			background: var(--c-text);
		}
		&::after {
			top: 0;
			bottom: 2px;
			right: 0;
			width: 12px;
			height: 12px;
			margin: auto;
			border: 1px solid var(--c-text);
			border-radius: 50%;
		}
		span {
			position: relative;
			padding: 0 16px 0 0;
			&::before,
			&::after {
				content: "";
				position: absolute;
				top: 0;
				bottom: -2px;
				right: 0;
				margin: auto;
				transition: .3s;
				background: var(--c-text);
			}
			&::before {
				right: 0;
				width: 7px;
				height: 1px;
			}
			&::after {
				right: 3px;
				width: 1px;
				height: 7px;
			}
		}
		&:hover {
			color: var(--c-primary);
			&::before {
				transform: scaleX(0);
				background: var(--c-primary);
			}
			&::after {
				border: 1px solid var(--c-primary);
			}
			span {
				&::before,
				&::after {
					transform: rotate(90deg);
					background: var(--c-primary);
				}
				&::before {
				}
				&::after {
				}
			}
		}
	}
}