
.mk-post01 {
	padding: min(10vw,80px) 15px;
	&__inner {
		display: flex;
		flex-direction: column;
		max-width: 1000px;
		margin: auto;
	}
	.text-box {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		width: auto;
		margin: 0 0 10px;
		.box {
			margin-right: 10px;
			margin-bottom: 0;
			p {
				display: none;
			}
		}
	}
	h2 {
		color: var(--c-primary);
		font-size: 2.6rem;
	}
	.news-box {
		li {
			list-style-type: none;
			&:first-child {
				a {
					border-top: 1px solid #ddd;
				}
			}
		}
		a {
			display: flex;
			position: relative;
			padding: 10px 30px 10px 10px;
			border-bottom: 1px solid #ddd;
			color: var(--c-text);
			text-decoration: none;
			transition: all,.6s;
			span.data {
				display: inline-block;
				margin-right: 20px;
			}
			&::before {
				content: "";
				position: absolute;
				top: 0;
				bottom: 0;
				right: 20px;
				width: 7px;
				height: 7px;
				margin: auto;
				border-top: 2px solid var(--c-primary);
				border-right: 2px solid var(--c-primary);
				-webkit-transform: rotate(45deg);
				transform: rotate(45deg);
			}
			&:hover {
				background-color: rgba(var(--c-primary-rgb), 0.1);
			}
		}
	}
	@media (min-width: $sm) {//576px
		.news-box {
			a {
				padding: 20px 40px 20px 20px;
			}
		}
	}
	@media (min-width: $md) {
		&__inner {
			flex-direction: row;
		}
		.text-box {
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-between;
			width: 400px;
			margin: 0 20px 0 0;
			.box {
				margin-bottom: 0;
				p {
					display: block;
				}
			}
		}
		h2 {
			font-size: 4rem;
		}
	}
}


.mk-post02 {
	// 角丸
	$radius-mk-post02: 5px;
	padding: min(16vw,150px) 15px;
	&__inner {
		display: flex;
		flex-direction: column;
		max-width: $base_width;
		margin: auto;
		border-radius: 30px;
		@media (min-width: $md) {
			flex-direction: row;
		}
	}
	&__title-box {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 30px;
		width: 100%;
		max-width: none;
		background-color: var(--c-primary);
		border-radius: $radius-mk-post02 $radius-mk-post02 0 0;
		a {
			display: block;
			position: relative;
			padding: 7px 35px 7px 20px;
			margin-top: 15px;
			background-color: #fff;
			border-radius: 50px;
			color: var(--c-primary);
			text-decoration: none;
			&::after {
				content: "";
				position: absolute;
				right: 15px;
				top: 0;
				bottom: 0;
				margin: auto;
				@include arrow(8, 2, var(--c-primary), right);
			}
		}
	}
	&__title {
		color: #fff;
		@include clamp_fontsize(18, 576, 992, 22);
		font-weight: 200;
		text-align: center;
		line-height: 1.4;
		letter-spacing: .1em;
		span {
			display: block;
			@include clamp_fontsize(12, 576, 992, 14);
			letter-spacing: .05em;
		}
	}
	@media (min-width: $md) {
		&__title-box {
			max-width: 240px;
			border-radius: $radius-mk-post02 0 0 $radius-mk-post02;
			a {
				padding: 10px 35px 10px 20px;
			}
		}
	}
	&__list-box {
		flex-grow: 1;
		padding: 30px;
		// background-color: rgba(var(--c-primary-rgb), 0.2);
		background-color: #eee;
		border-radius: 0 0 $radius-mk-post02 $radius-mk-post02;
		.post-list {
			> div + div {
				border-top: 1px dotted #fff;
			}
		}
		a {
			display: flex;
			flex-direction: column;
			padding: 10px 0;
			color: var(--c-text);
			text-decoration: none;
			transition: all,.3s;
			&:hover {
				background: rgba(var(--c-white-rgb), 0.2);
			}
		}
		dt {
			width: 100%;
			margin-right: 0;
		}
		dd {
			width: 100%;
		}
	}
	@media (min-width: $sm) {
		&__list-box {
			a {
				flex-direction: row;
			}
			dt {
				width: 100px;
				margin-right: 20px;
			}
			dd {
				width: calc(100% - 100px);
			}
		}
	}
	@media (min-width: $md) {
		&__list-box {
			border-radius: 0 $radius-mk-post02 $radius-mk-post02 0;
		}
	}
}