<% 
	let title = 'モジュールリスト'; 
	let pageId = 'home'; 
%>
<%- include('tpl/_header', { title, pageId }) %>
<main>

<section class="sec-top01">
  <div class="module-space inner">
    <h2 class="parts-title">各種モジュールリスト</h2>
    <ul class="link-text">
      <li>サイトごとに動きが変わるため、アニメーションは入れない</li>
      <li>同じくボタンパーツ以外のリンクボタンなどにもスタイルを当てない</li>
      <li>古いパーツは随時更新</li>
      <li>モジュールで利用している画像はLorem Picsumを利用（ランダム表示）</li>
    </ul>
    <ul class="link-list">
      <li><a href="./mk-title.html">タイトル</a></li>
      <li><a href="./mk-module.html">モジュール</a></li>
      <li><a href="./mk-slider.html">スライダー</a></li>
      <li><a href="./mk-btn.html">ボタン</a></li>
      <li><a href="./mk-other.html">その他</a></li>
    </ul>
  </div>
</section>

		<!-- <div class="youtube-box">
			<div class="youtube">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/siG6etT29YM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
			</div>
		</div> -->

    <!-- <section class="s10__wrap faq">
      <h2>よくあるご質問</h2>
      <div class="faq__inner fadein">
        <div class="acc__wrap faq__box">
          <div class="question">
            <p>Q</p>
            <p>質問タイトル？</p>
          </div>
          <div class="answer">
            <p>アンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキスト</p>
          </div>
        </div>
        <div class="acc__wrap faq__box">
          <div class="question">
            <p>Q</p>
            <p>質問タイトル？</p>
          </div>
          <div class="answer">
            <p>アンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキスト</p>
          </div>
        </div>
        <div class="acc__wrap faq__box">
          <div class="question">
            <p>Q</p>
            <p>質問タイトル？</p>
          </div>
          <div class="answer">
            <p>アンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキスト</p>
          </div>
        </div>
        <div class="acc__wrap faq__box">
          <div class="question">
            <p>Q</p>
            <p>質問タイトル？</p>
          </div>
          <div class="answer">
            <p>アンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキストアンサーテキスト</p>
          </div>
        </div>
      </div>
    </section> -->

		<!-- cvr -->
		<%- //include('tpl/_cvr') %>


</main>
<%- include('tpl/_footer', { pageId }) %>
