<% 
	let title = 'mk-guide'; 
	let pageId = 'mk-guide'; 
	let path = "./"
%>
<%- include('tpl/_header', { title, pageId, path: path }) %>

<main>
	
	<h1 class="parts-title">guide</h1>
	<h2 class="parts-title2">guide01</h2>

	<section class="mk-guide01">
		<div class="mk-guide01__inner">
			<div class="mk-guide01__text-box">
				<h3>新宿サンプルクリニック</h3>
				<p>院長 〇〇 〇〇</p>
				<p>〒000-0000<br>
					東京都新宿区〇〇〇〇〇〇 〇〇〇〇〇〇ビル2階<br>
					〇〇〇〇駅から徒歩1分</p>
				<p>契約駐車場7台あります。</p>
				<p class="tel">TEL:<a href="tel:0000000000" class="tel">00-0000-0000</a></p>


				<table class="biz-hour">
					<tbody>
						<tr>
							<th>診療時間</th>
							<th>月</th>
							<th>火</th>
							<th>水</th>
							<th>木</th>
							<th>金</th>
							<th class="sat">土</th>
							<th class="sun">日</th>
						</tr>
						<tr>
							<td>8:00〜12:00</td>
							<td>●</td><!-- 月 -->
							<td>●</td><!-- 火 -->
							<td>●</td><!-- 水 -->
							<td>●</td><!-- 木 -->
							<td>●</td><!-- 金 -->
							<td>●</td><!-- 土 -->
							<td>ー</td><!-- 日 -->
						
						</tr>
						<tr>
							<td>13:00〜17:00</td>
							<td>●</td><!-- 月 -->
							<td>●</td><!-- 火 -->
							<td>●</td><!-- 水 -->
							<td>ー</td><!-- 木 -->
							<td>●</td><!-- 金 -->
							<td>●</td><!-- 土 -->
							<td>ー</td><!-- 日 -->
						</tr>
					</tbody>
				</table>



				<ul>
					<li class="access"><a href="/access/">アクセス案内</a></li>
					<li class="contact"><a href="/contact/">お問い合わせ</a></li>
				</ul>
				<div class="yoyaku">
					<a href="" target="_blank">
					<svg version="1.1" id="all" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="476.4px" height="512px" viewBox="0 0 476.4 512">
						<path class="st0" d="M382.4,131.2l87.7,6.4l6.4-87.7l-30-2.2l-2.5,34.5C395.7,30.2,328,0,256,0C114.8,0,0,114.8,0,256 s114.8,256,256,256c85.4,0,164.8-42.5,212.6-113.6l-25-16.8C401.4,444.4,331.3,481.9,256,481.9C131.5,481.9,30.1,380.5,30.1,256 S131.5,30.1,256,30.1c64.1,0,124.4,27.1,166.9,73.9l-38.3-2.8L382.4,131.2z"/>
						<path class="st0" d="M130.3,284.3c0-9.7,9.7-16,23.4-22.9c15.8-8,26.8-17.2,26.8-36.9c0-23.3-15-37.7-41.8-37.7 c-23.1,0-40.3,11-47.7,19.5l16.8,18c6.1-6.3,16.3-13.4,27.2-13.4c8.8,0,14.6,4.8,14.6,13.9c0,14.3-14.1,20.4-28.5,26.8 c-24.5,11-30.4,25.7-30.4,57.1h90.1v-24.5L130.3,284.3L130.3,284.3z"/>
						<path class="st0" d="M267.7,259v-71H249L193,259v24.3h47.6v25.3h27.2v-25.3h15V259H267.7z M243.6,259H220l23.6-30.2V259z"/>
						<path class="st0" d="M356.3,217.9c-13.1,0-24.5,6.1-30.9,16.7v-49.8h-27.2v124h27.2v-51.1c3.4-9.5,12.4-15.8,18.9-15.8 c7.8,0,12.9,5.3,12.9,16.8v50.1h27.2v-57.1C384.3,236.2,380.2,217.9,356.3,217.9z"/>
					</svg>
					<p>24時間受付かんたん予約<span>WEB予約</span></p>
					</a>
				</div>
			</div>
			
			<div class="mk-guide01__map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.7479746645863!2d139.74066929678955!3d35.65858049999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188bbd9009ec09%3A0x481a93f0d2a409dd!2z5p2x5Lqs44K_44Ov44O8!5e0!3m2!1sja!2sjp!4v1688626942177!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>

		</div><!-- .container -->
	</section>

	<h2 class="parts-title2">guide01</h2>

	<section class="mk-guide02">
		<div class="mk-guide02__inner">
			<div class="mk-guide02__img-box">
				<figure>
					<img src="https://picsum.photos/id/54/960/560" alt="">
				</figure>
			</div>
			<div class="mk-guide02__text-box">
				<h3 class="no-style">新宿サンプルクリニック</h3>
				<p>院長 〇〇 〇〇</p>
				<p>〒000-0000<br>
					東京都新宿区〇〇〇〇〇〇 〇〇〇〇〇〇ビル2階<br>
					〇〇〇〇駅から徒歩1分</p>
				<p>契約駐車場7台あります。</p>
				<p class="tel">TEL:<a href="tel:00-0000-0000">00-0000-0000</a></p>

			</div>
			
			<div class="mk-guide02__map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.7479746645863!2d139.74066929678955!3d35.65858049999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188bbd9009ec09%3A0x481a93f0d2a409dd!2z5p2x5Lqs44K_44Ov44O8!5e0!3m2!1sja!2sjp!4v1688626942177!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>

		</div><!-- .container -->
	</section>

	<h2 class="parts-title2">CONTACT</h2>

	<div class="contact-box01">
		<p>株式会社〇〇〇〇へのお問い合わせ</p>
		<p class="contact-box01__btn"><a href=""><span>CONTACT US</span></a></p>
	</div>


</main>
<%- include('tpl/_footer', { pageId }) %>