<% 
	let title = 'モジュール01';
	let pageId = 'mk-module01';
	let path = "./"
%>
<%- include('tpl/_header', { title, pageId, path: path }) %>
<main>



<h2 class="parts-title">モジュールパーツ</h2>
<h2 class="parts-title2">imgBox01</h2>

<div class="module-space">

	<section class="mk-imgBox01">
		<div class="mk-imgBox01__inner reverse">
			<figure class="mk-imgBox01__img wow fade-inRight">
				<img src="https://picsum.photos/id/22/960/500" alt="">
			</figure>
			<div class="mk-imgBox01__text-box wow fade-inLeft">
				<div class="mk-imgBox01__text">
					<h2 class="no-style">Class<span>クラス紹介</span></h2>
					<div class="text">
						<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
						<p class="more"><a href="" class="add_arrow">詳しく見る</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="mk-imgBox01__inner">
			<figure class="mk-imgBox01__img wow fade-inLeft">
				<img src="https://picsum.photos/id/26/960/500" alt="">
			</figure>
			<div class="mk-imgBox01__text-box wow fade-inRight">
				<div class="mk-imgBox01__text">
					<h2 class="no-style">Service<span>サービス</span></h2>
					<div class="text">
						<p>クラス以外にも、グルーミングやお預かり、オンラインレッスンなども行っております。ワンちゃんのお悩みなどございましたら、お気軽にご相談ください。</p>
						<p class="more transparent cPrimary"><a href="" class="add_arrow">詳しく見る</a></p>
					</div>
				</div>
			</div>
		</div>
	</section>

</div>
<h2 class="parts-title2">imgBox02</h2>
<div class="module-space">

	<section class="mk-imgBox02">
		<div class="mk-imgBox02__inner">
			<figure class="mk-imgBox02__img wow fade-inDown">
				<img src="https://picsum.photos/id/39/960/500" alt="">
			</figure>
			<div class="mk-imgBox02__text-box wow fade-inUp">
				<div class="mk-imgBox02__text">
					<h2 class="no-style">Class<span>クラス紹介</span></h2>
					<div class="text">
						<p>お客様の愛犬に合ったトレーニング方法をご案内いたします。<br>With dogでは、犬にも人にも優しい・分かりやすいトレーニングを目指しています。<br>子犬からシニアまで年齢やご家庭に合わせてお選びください。</p>
						<p class="more transparent cPrimary"><a href="" class="add_arrow">詳しく見る</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="mk-imgBox02__inner reverse">
			<figure class="mk-imgBox02__img wow fade-inDown">
				<img src="https://picsum.photos/id/42/960/500" alt="">
			</figure>
			<div class="mk-imgBox02__text-box wow fade-inUp">
				<div class="mk-imgBox02__text">
					<h2 class="no-style">Service<span>サービス</span></h2>
					<div class="text">
						<p>クラス以外にも、グルーミングやお預かり、オンラインレッスンなども行っております。ワンちゃんのお悩みなどございましたら、お気軽にご相談ください。</p>
						<p class="more transparent cPrimary"><a href="" class="add_arrow">詳しく見る</a></p>
					</div>
				</div>
			</div>
		</div>
	</section>

</div>

<h2 class="parts-title2">imgBox03</h2>
<div class="module-space">

	<section class="mk-imgBox03">
		<div class="mk-imgBox03__inner">
			<figure><img src="https://picsum.photos/id/45/960/500" alt=""></figure>
			<div class="text-box">
				<h2 class="no-style">よくあるご質問</h2>
				<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
				<p class="more"><a href="/everprolong-methods/" class="add_arrow">詳しく見る</a></p>
			</div>
		</div>
		<div class="mk-imgBox03__inner">
			<figure><img src="https://picsum.photos/id/50/960/500" alt=""></figure>
			<div class="text-box">
				<h2 class="no-style">よくあるご質問</h2>
				<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
				<p class="more"><a href="/everprolong-methods/" class="add_arrow">詳しく見る</a></p>
			</div>
		</div>
	</section>

</div>
<h2 class="parts-title2">imgBox04</h2>
<div class="module-space">

	<section class="mk-imgBox04">
		<div class="mk-imgBox04__inner">
			<div class="mk-imgBox04__box">
				<figure><img src="https://picsum.photos/550/360" alt="テキスト"></figure>
				<div class="text-box">
					<h2 class="no-style">テキスト</h2>
					<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
					<p class="more"><a href="#" class="add_arrow">詳しく見る</a></p>
				</div>
			</div>
			<div class="mk-imgBox04__box">
				<figure><img src="https://picsum.photos/550/360" alt="テキスト"></figure>
				<div class="text-box">
					<h2 class="no-style">テキスト</h2>
					<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
					<p class="more"><a href="#" class="add_arrow">詳しく見る</a></p>
				</div>
			</div>
		</div>
	</section>

</div>
<h2 class="parts-title2">box01</h2>
<div class="module-space">

	<section class="mk-box01">
		<div class="mk-box01__inner">
			<div class="mk-box01__text-wrap">
				<div class="mk-box01__text">
					<h2 class="no-style">○○○○○ ○○○店</h2>
					<div class="mk-box01__table">
						<dl>
							<dt>TEL</dt><dd><a href="tel:03-1234-5678">03-1234-5678</a></dd>
							<dt>FAX</dt><dd>03-1234-5678</dd>
							<dt>住所</dt><dd>〒000-0000 ◯◯◯◯◯◯◯◯◯◯1-1-11</dd>
							<dt>アクセス</dt><dd>◯◯◯◯◯◯◯◯より徒歩13分</dd>
							<dt>営業時間</dt><dd>8:30～18:30</dd>
							<dt>定休日</dt><dd>日曜・祝日</dd>
						</dl>
					</div>
					<div class="mk-box01__btn">
						<p class="more"><a href="" target="_blank" rel="noopener noreferrer">LINE</a></p>
						<p class="more"><a href="" target="_blank" rel="noopener noreferrer">予約</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="mk-box01__inner reverse">
			<div class="mk-box01__text-wrap">
				<div class="mk-box01__text">
					<h2 class="no-style">○○○○○ ○○○店</h2>
					<div class="mk-box01__table">
						<dl>
							<dt>TEL</dt><dd><a href="tel:044-322-0580">044-322-0580</a></dd>
							<dt>FAX</dt><dd>044-322-0581</dd>
							<dt>住所</dt><dd>〒000-0000 ◯◯◯◯◯◯◯◯◯◯1-1-11</dd>
							<dt>アクセス</dt><dd>◯◯◯◯◯◯◯◯より徒歩13分</dd>
							<dt>営業時間</dt><dd>8:30～18:30</dd>
							<dt>定休日</dt><dd>日曜・祝日</dd>
						</dl>
					</div>
					<div class="mk-box01__btn">
						<p class="more"><a href="" target="_blank" rel="noopener noreferrer">LINE</a></p>
						<p class="more"><a href="" target="_blank" rel="noopener noreferrer">予約</a></p>
					</div>
				</div>
			</div>
		</div>
	</section>

</div>
<h2 class="parts-title2">box02</h2>
<div class="module-space inner">

	<section class="mk-box02">
		<div class="mk-box02__inner">
			<h2>テキストテキストテキスト</h2>
			<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
			<p class="more"><a href="" target="_blank" rel="noopener noreferrer">LINE</a></p>
		</div>
	</section>


</div>
<h2 class="parts-title2">box03</h2>
<div class="module-space">

	<section class="mk-box03">
		<div class="mk-box03__inner wow fade-inUp">
			<figure class="mk-box03__img"><img src="https://picsum.photos/id/49/960/360" alt=""></figure>
			<div class="mk-box03__text-box">
				<h3 class="no-style">A la carte</h3>
				<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
				<p class="more inverse"><a href="#">詳しく見る</a></p>
			</div>
		</div>
		<div class="mk-box03__inner reverse wow fade-inUp delay2">
			<figure class="mk-box03__img"><img src="https://picsum.photos/id/54/960/360" alt=""></figure>
			<div class="mk-box03__text-box">
				<h3 class="no-style">Drink</h3>
				<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
				<p class="more inverse"><a href="#">詳しく見る</a></p>
			</div>
		</div>
	</section>

</div>

</main>
<%- include('tpl/_footer', { pageId }) %>