<% 
	let title = 'モジュール02'; 
	let pageId = 'mk-module02'; 
	let path = "./"
%>
<%- include('tpl/_header', { title, pageId, path: path }) %>
<main>



<h2 class="parts-title">モジュールパーツ</h2>
<h2 class="parts-title2">module01</h2>

<section class="mk-module01">
	<div class="mk-module01__inner">
		<div class="mk-module01__text-box">
			<h2>エイブラハム・リンカーン<span>Abraham Lincoln</span></h2>
			<figure class="mk-module01__img"><img src="https://picsum.photos/id/57/960/500" alt=""></figure>
			<div class="mk-module01__text">
				<p>もし、木を切り倒すのに6時間与えられたら、<br>私は最初の4時間を<br>斧を研ぐのに費やすだろう。</p>
			</div>
			<p><a href="#" class="add_arrow">詳しくはこちら</a></p>
		</div>
	</div>
	<div class="mk-module01__inner">
		<div class="mk-module01__text-box">
			<h2>鈴木一朗<span>Ichiro</span></h2>
			<figure class="mk-module01__img"><img src="https://picsum.photos/id/69/960/500" alt=""></figure>
			<div class="mk-module01__text">
				<p>壁というのは、できる人にしかやってこない。<br>超えられる可能性がある人にしかやってこない。<br>だから、壁がある時はチャンスだと思っている。</p>
			</div>
			<p><a href="#" class="add_arrow">詳しくはこちら</a></p>
		</div>
	</div>
	
	<div class="mk-module01__inner">
		<div class="mk-module01__text-box">
			<h2>スティーブ・ジョブズ<span>Steve Jobs</span></h2>
			<figure class="mk-module01__img"><img src="https://picsum.photos/id/71/960/500" alt=""></figure>
			<div class="mk-module01__text">
				<p>最も重要な決定とは、何をするかではなく、何をしないかを決めることだ。</p>
			</div>
			<p><a href="#" class="add_arrow">詳しくはこちら</a></p>
		</div>
	</div>
	<div class="mk-module01__inner">
		<div class="mk-module01__text-box">
			<h2>坂本 龍馬<span>Ryoma Sakamoto</span></h2>
			<figure class="mk-module01__img"><img src="https://picsum.photos/id/76/960/500" alt=""></figure>
			<div class="mk-module01__text">
				<p>日本を今一度<br>せんたくいたし申候</p>
			</div>
			<p><a href="#" class="add_arrow">詳しくはこちら</a></p>
		</div>
	</div>
</section>


<h2 class="parts-title2">module02</h2>

<section class="mk-module02">
	<h2 class="no-style">テキストテキストテキストテキスト</h2>
	<div class="mk-module02__inner">
		<div class="mk-module02__box">
			<figure><img src="https://picsum.photos/id/57/960/500" alt=""></figure>
			<div class="mk-module02__text-box">
				<h3 class="no-style">テキストテキストテキストテキスト</h3>
				<p>テキストテキストテキストテキストテキストテキストテキスト</p>
				<p class="more"><a href="">詳細はこちら</a></p>
			</div>
		</div>
		<div class="mk-module02__box">
			<figure><img src="https://picsum.photos/id/22/960/500" alt=""></figure>
			<div class="mk-module02__text-box">
				<h3 class="no-style">テキストテキスト</h3>
				<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
				<p class="more"><a href="">詳細はこちら</a></p>
			</div>
		</div>
		<div class="mk-module02__box">
			<figure><img src="https://picsum.photos/id/26/960/500" alt=""></figure>
			<div class="mk-module02__text-box">
				<h3 class="no-style">テキストテキスト</h3>
				<p>テキストテキストテキストテキストテキストテキストテキスト</p>
				<p class="more"><a href="">詳細はこちら</a></p>
			</div>
		</div>
	</div>
</section>

<h2 class="parts-title2">module03</h2>

<section class="mk-module03">
	<h2 class="no-style">テキストテキストテキストテキスト</h2>
	<div class="mk-module03__inner">
		<div class="mk-module03__box">
			<a href="">
				<figure><img src="https://picsum.photos/id/57/960/500" alt=""></figure>
				<div class="mk-module03__text-box">
					<h3 class="no-style">テキストテキストテキストテキスト</h3>
					<p>テキストテキストテキストテキストテキストテキストテキスト</p>
				</div>
			</a>
		</div>
		<div class="mk-module03__box">
			<a href="">
				<figure><img src="https://picsum.photos/id/22/960/500" alt=""></figure>
				<div class="mk-module03__text-box">
					<h3 class="no-style">テキストテキストテキストテキストテキストテキストテキストテキスト</h3>
					<p>テキストテキストテキストテキストテキストテキストテキスト</p>
				</div>
			</a>
		</div>
		<div class="mk-module03__box">
			<a href="">
				<figure><img src="https://picsum.photos/id/26/960/500" alt=""></figure>
				<div class="mk-module03__text-box">
					<h3 class="no-style">テキストテキストテキストテキスト</h3>
					<p>テキストテキストテキストテキストテキストテキストテキスト</p>
				</div>
			</a>
		</div>
	</div>
</section>

</main>
<%- include('tpl/_footer', { pageId }) %>