<% 
let title = 'その他'; 
let pageId = 'mk-other'; 
%>
<%- include('./tpl/_header', { title, pageId }) %>

<main>
	
	<h1 class="parts-title">その他</h1>
	<h2 class="parts-title2">テキストの装飾</h2>

		<div class="mk-decoration01 module-space">
			<div class="inner">
				<p>テキストテキスト<span class="text-dot">テキストテキスト<br>テキストテキスト</span>テキストテキストテキスト<span class="text-wavy">テキストtext-decoration-skip-ink</span>テキストテキストテキストテキストテキスト</p>
				<p class="text-shadow01">テキストテキストテキストテキストtext-shadow</p>
				<div style="background-color:#333; padding:30px;margin:10px 0;">
					<p class="text-shadow02">こっちはtext-shadow</p>
					<p class="filter-drop-shadow">こっちはSVG画像などにも使えるfilterを使用</p>
				</div>
			</div>
		</div>



	<h2 class="parts-title2">リード文</h2>

	<section class="mk-lead">
		<div class="mk-lead__inner">
			<h2 class="no-style">テキストテキストから<br class="sp-only">皆様へ</h2>
			<div class="mk-lead__text">
				<p>
					テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト<br>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
				</p>
			</div>
			<p class="more"><a href="/company/" class="add_arrow">会社のご案内</a></p>
		</div>
	</section>

	
	<div class="time" data-scroll-position="true">
		<div class="time__inner">
			<p class="time__title"><span>営業時間</span></p>
			<table class="time__table">
				<thead>
					<tr>
						<th>営業時間</th>
						<th>月</th>
						<th>火</th>
						<th>水</th>
						<th>木</th>
						<th>金</th>
						<th>土</th>
						<th>日・祝</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>10:00～21:00</th>
						<td>●</td>
						<td>●</td>
						<td>●</td>
						<td>●</td>
						<td>●</td>
						<td>／</td>
						<td>／</td>
					</tr>
					<tr>
						<th>10:00～19:00</th>
						<td>／</td>
						<td>／</td>
						<td>／</td>
						<td>／</td>
						<td>／</td>
						<td>●</td>
						<td>●</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>




	<h2 class="parts-title2">沿革</h2>
	<div class="timeline">
		<ul class="timeline__list">
			<li class="timeline__list-item">
				<div class="date">平成10年</div>
				<div class="content">
					テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
				</div>
			</li>
			<li class="timeline__list-item">
				<div class="date">平成12年</div>
				<div class="content">
					テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
				</div>
			</li>
			<li class="timeline__list-item">
				<div class="date">平成16年</div>
				<div class="content">
					テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
				</div>
			</li>
			<li class="timeline__list-item">
				<div class="date">平成17年</div>
				<div class="content">
					テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
				</div>
			</li>
			<li class="timeline__list-item">
				<div class="date">平成18年</div>
				<div class="content">
					テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
				</div>
			</li>
		</ul>
	</div>

	<h2 class="parts-title2">たまたま作った面倒な形</h2>

	<div class="tel-box">
		<p class="tel-box__text">お電話でのお問い合わせ</p>
		<p class="tel-box__tel">00-0000-0000</p>
	</div>

	<h2 class="parts-title2">親要素をはみ出して画面いっぱいに</h2>

	<div class="mk-content01">
		<section class="mk-content01__sec block01">
			<div class="mk-content01__box01">BLOK01</div>
		</section>
		<section class="mk-content01__sec block02">
			<div class="mk-content01__box01"><span>BLOK02</span></div>
			<div class="mk-content01__text-box">
				<h3>タイトルタイトル</h3>
				<p>テキストテキストテキストテキストテキストテキストテキストテキスト</p>
			</div>
		</section>
		<section class="mk-content01__sec block03">
			<div class="mk-content01__box01"><span>BLOK03</span></div>
			<div class="mk-content01__text-box">
				<h3>タイトルタイトル</h3>
				<p>テキストテキストテキストテキストテキストテキストテキストテキスト</p>
			</div>
		</section>
	</div>

	<h2 class="parts-title2">テーブル</h2>

	<div class="inner">
		<div class="note">
			dlタグのテーブル
		</div>
		<dl class="mk-address-table01">
			<dt>所在地</dt>
			<dd>〒000-0000<br>東京都○○○○○○○○○○<br>○○○○○ビル6F</dd>
			<dt>TEL</dt>
			<dd><a href="tel:00-0000-0000">00-0000-0000</a></dd>
			<dt>アクセス</dt>
			<dd>〇〇〇〇駅」より徒歩5分</dd>
		</dl>

	</div>


	<h2 class="parts-title2">FLOW</h2>
	<div class="inner">
		<div class="note">
			※拡大縮小表示の時に、白い線が入るので注意<br>テキスト部分はtext-boxというdivクラスを入れているので、カラムなど自由に変更可能。
		</div>

		<div class="lp-flow__inner">
			<div class="mk-flow01">
				<div class="mk-flow01__inner">
					<div class="num"><span>1</span></div>
					<div class="text-box">
						<figure><img src="https://dummyimage.com/300x200/666666/ffffff.png&text=image"></figure>
						<div class="text">
							<p>テキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
						</div>
					</div>
				</div>
				<div class="mk-flow01__inner">
					<div class="num"><span>2</span></div>
					<div class="text-box">テキストテキストテキストテキストテキストテキストテキストテキストテキスト</div>
				</div>
				<div class="mk-flow01__inner">
					<div class="num"><span>3</span></div>
					<div class="text-box">テキストテキストテキストテキストテキストテキストテキストテキストテキスト</div>
				</div>
				<div class="mk-flow01__inner">
					<div class="num"><span>4</span></div>
					<div class="text-box">テキストテキストテキストテキストテキストテキストテキストテキストテキスト</div>
				</div>
				<div class="mk-flow01__inner">
					<div class="num"><span>5</span></div>
					<div class="text-box">テキストテキストテキストテキストテキストテキストテキストテキストテキスト</div>
				</div>
			</div>
		</div>

	</div>



</main>
<%- include('tpl/_footer', { pageId }) %>