<% 
let title = 'その他'; 
let pageId = 'mk-other'; 
%>
<%- include('./tpl/_header', { title, pageId }) %>

		<h1 class="parts-title">その他</h1>


		<h2 class="parts-title">沿革</h2>
		<div class="timeline">
			<ul class="timeline__list">
				<li class="timeline__list-item">
					<div class="date">平成10年</div>
					<div class="content">
						テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
					</div>
				</li>
				<li class="timeline__list-item">
					<div class="date">平成12年</div>
					<div class="content">
						テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
					</div>
				</li>
				<li class="timeline__list-item">
					<div class="date">平成16年</div>
					<div class="content">
						テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
					</div>
				</li>
				<li class="timeline__list-item">
					<div class="date">平成17年</div>
					<div class="content">
						テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
					</div>
				</li>
				<li class="timeline__list-item">
					<div class="date">平成18年</div>
					<div class="content">
						テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
					</div>
				</li>
			</ul>
		</div>

		<h2 class="parts-title">親要素をはみ出して画面いっぱいに</h2>

		<div class="mk-content01">
			<section class="mk-content01__sec block01">
				<div class="mk-content01__box01">BLOK01</div>
			</section>
			<section class="mk-content01__sec block02">
				<div class="mk-content01__box01"><span>BLOK02</span></div>
				<div class="mk-content01__text-box">
					<h3>タイトルタイトル</h3>
					<p>テキストテキストテキストテキストテキストテキストテキストテキスト</p>
				</div>
			</section>
			<section class="mk-content01__sec block03">
				<div class="mk-content01__box01"><span>BLOK03</span></div>
				<div class="mk-content01__text-box">
					<h3>タイトルタイトル</h3>
					<p>テキストテキストテキストテキストテキストテキストテキストテキスト</p>
				</div>
			</section>
		</div>




		<h2 class="parts-title">テーブル</h2>

		<div class="inner">

			<dl class="mk-address-table01">
				<dt>所在地</dt>
				<dd>〒000-0000<br>東京都○○○○○3-1-1<br>○○○○○センタービル4F</dd>
				<dt>TEL</dt>
				<dd><a href="tel:03-1234-5678">03-1234-5678</a></dd>
				<dt>アクセス</dt>
				<dd>つくばエクスプレス「つくば駅」より車5分</dd>
			</dl>

		</div>

		<h2 class="parts-title">リード文</h2>

		<section class="mk-lead">
			<div class="mk-lead__inner">
				<h2 class="no-style">テキストテキストから<br class="sp-only">皆様へ</h2>
				<div class="mk-lead__text">
					<p>
						テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト<br>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
					</p>
				</div>
				<p class="more"><a href="/company/" class="add_arrow">会社のご案内</a></p>
			</div>
		</section>

<div class="mk-post01">
	<div class="mk-post01__inner">
		<div class="text-box">
			<div class="box">
				<h2 class="no-style">NEWS</h2>
				<p>朗豊ゼミナールからのお知らせ</p>
			</div>
			<p class="btn_more"><a href="/news/">News List</a></p>
		</div>
		<div class="news-box">
			<ul>
				<li><a href="#"><span class="data">2021.05.17</span><span>○○○○○のホームページを新しくオープンしました。</span></a></li>
				<li><a href="#"><span class="data">2021.05.17</span><span>○○○○○のホームページを新しくオープンしました。</span></a></li>
				</li>
				<li><a href="#"><span class="data">2021.05.17</span><span>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</span></a></li>
			</ul>
		</div>
	</div>
</div>



		<div class="container gutters">
			<div class="row sp_image_cols sp_col2">
				<div class="col span_4">
					<figure>
						<img src="https://placehold.jp/666666/ffffff/640x480.png" alt="">
						<i class="far fa-address-card"></i>
					</figure>
				</div>
				<div class="col span_4">
					<figure>
						<img src="https://placehold.jp/640x480.png" alt="">
					</figure>
				</div>
				<div class="col span_4 break">
					<figure>
						<img src="https://placehold.jp/640x480.png" alt="">
					</figure>
				</div>
				<div class="col span_4">
					<figure><img src="https://placehold.jp/640x480.png" alt=""></figure>
				</div>
				<div class="col span_4">
					<figure><img src="https://placehold.jp/640x480.png" alt=""></figure>
				</div>
				<div class="col span_4">
					<figure><img src="https://placehold.jp/640x480.png" alt=""></figure>
				</div>
			</div>
		</div>

		<%- include('tpl/_footer', { pageId }) %>