<% 
let title = 'その他'; 
let pageId = 'mk-other'; 
%>
<%- include('./tpl/_header', { title, pageId }) %>

<main>
	
	<h1 class="parts-title">post</h1>

	<h2 class="parts-title2">mk-post01</h2>

	<div class="mk-post01">
		<div class="mk-post01__inner">
			<div class="text-box">
				<div class="box">
					<h2 class="no-style">NEWS</h2>
					<p>〇〇〇〇からのお知らせ</p>
				</div>
				<p class="btn_more"><a href="/news/">News List</a></p>
			</div>
			<div class="news-box">
				<ul>
					<li><a href="#"><span class="data">2021.05.17</span><span>○○○○○のホームページを新しくオープンしました。</span></a></li>
					<li><a href="#"><span class="data">2021.05.17</span><span>○○○○○のホームページを新しくオープンしました。</span></a></li>
					</li>
					<li><a href="#"><span class="data">2021.05.17</span><span>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</span></a></li>
				</ul>
			</div>
		</div>
	</div>


	<h2 class="parts-title2">mk-post02</h2>
	<section class="mk-post02">
		<div class="mk-post02__inner">
			<div class="mk-post02__title-box">
				<h2 class="mk-post02__title no-style">NEWS<span>お知らせ</span></h2>
				<p><a href="/category/news/"><span>一覧</span></a></p>
			</div>
			<div class="mk-post02__list-box">

				<dl class="post-list">
					<div>
						<a href="http://zenintl-jp.check-xserver.jp/post-240/">
							<dt>2022.11.20</dt>
							<dd> テキストテキストテキスト3</dd>
						</a>
					</div>
					<div>
						<a href="http://zenintl-jp.check-xserver.jp/post-238/">
							<dt>2022.11.20</dt>
							<dd> テキストテキストテキスト2テキストテキストテキスト2テキストテキストテキスト2テキストテキストテキスト2テキストテキストテキスト2テキストテキストテキスト2テキストテキストテキスト2テキストテキストテキスト2テキストテキストテキスト2テキストテキストテキスト2</dd>
						</a>
					</div>
					<div>
						<a href="http://zenintl-jp.check-xserver.jp/post-236/">
							<dt>2022.11.20</dt>
							<dd> テキストテキストテキスト</dd>
						</a>
					</div>
				</dl>
			</div>
		</div>
	</section>


	<h2 class="parts-title2">mk-post03</h2>
	<div class="note">
		画像の幅・高さがバラバラでも統一される。
	</div>
	<section class="top-works">
		<div class="top-works__inner">
			<figure>
				<a href="">
					<p class="img"><img src="https://picsum.photos/id/20/320/320" alt=""></p>
					<figcaption>タイトルテキストタイトルテキストタイトルテキスト</figcaption>
				</a>
			</figure>
			<figure>
				<a href="">
					<p class="img"><img src="https://picsum.photos/id/39/720/960" alt=""></p>
					<figcaption>タイトルテキスト</figcaption>
				</a>
			</figure>
			<figure>
				<a href="">
					<p class="img"><img src="https://picsum.photos/id/42/320/320" alt=""></p>
					<figcaption>タイトルテキスト</figcaption>
				</a>
			</figure>
		</div>
	</section>



</main>
<%- include('tpl/_footer', { pageId }) %>