<%- include('tpl/_header') %>
	<h1 class="parts-title">スライダー</h1>


  <div class="swiper mk-mv mk-mv001">
    <div class="swiper-wrapper mk-mv001__inner">
      <div class="swiper-slide">
        <img src="./assets/img/mv_img001.jpg" alt="" class="pc-only">
        <img src="./assets/img/mv_img001_sp.jpg" alt="" class="sp-only">
        <div class="mk-copy">
          <p class="passingBar"><span class="passingBarIn">テキストテキスト</span></p>
          <p class="passingBar delay1"><span class="passingBarIn">テキストテキストテキスト</span></p>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="./assets/img/mv_img002.jpg" alt="" class="pc-only">
        <img src="./assets/img/mv_img002_sp.jpg" alt="" class="sp-only">
        <div class="mk-copy">
          <p class="passingBar"><span class="passingBarIn">テキスト</span></p>
          <p class="passingBar delay1"><span class="passingBarIn">テキストテキストテキストテキスト</span></p>
          <p class="passingBar delay2"><span class="passingBarIn">テキストテキストテキスト</span></p>
          <p class="passingBar delay3"><span class="passingBarIn">テキストテキスト</span></p>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="./assets/img/mv_img003.jpg" alt="" class="pc-only">
        <img src="./assets/img/mv_img003_sp.jpg" alt="" class="sp-only">
        <div class="mk-copy">
          <p class="passingBar"><span class="passingBarIn">テキストテキストテキスト</span></p>
          <p class="passingBar delay1"><span class="passingBarIn">テキストテキストテキスト</span></p>
        </div>
      </div>
    </div>
    <!-- 必要に応じてページネーション -->
    <div class="swiper-pagination"></div>
    <!-- 必要に応じてナビボタン -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>

	
	<%- include('tpl/_footer') %>