<% 
	let title = 'タイトル'; 
	let pageId = 'mk-title'; 
	let path = "./"
%>
<%- include('tpl/_header', { title, pageId, path: path }) %>
<main>

	<h1 class="parts-title">タイトル</h1>
	<div class="inner module-space title-wrap">


		<h2 class="mk-title07"><span>テキストテキストテキスト<br>テキストテキスト</span></h2>

		<h2 class="mk-title01">テキストテキストテキスト<br>テキストテキストテキストテキスト</h2>
		<h2 class="mk-title02">テキストテキストテキスト<br>テキストテキストテキストテキスト</h2>
		<h2 class="mk-title03">テキストテキストテキスト</h2>
		<h2 class="mk-title04">このタイトルはspan使えないので注意！</h2>

		<h2 class="mk-title05"><span>お知らせ<span class="sub-title">title05</span></span></h2>

		<h2 class="mk-title06">テキストtitle06</h2>

		
		<h2 class="mk-title09">テキストtitle09</h2>
	</div>

	
		<div class="note">
			※下記見出しのデザインで例えば幅1200pxのコンテンツとレスポンシブの動きを合わせられる。
		</div>

		<h2 class="mk-title08"><span>テキストテキスト</span></h2>
		


</main>
<%- include('tpl/_footer', { title, pageId }) %>
